.header {
  color: blue;
  padding-right: 1em;
}

.status {
  border-radius: 0.25em;
  font-size: smaller;
  color: white;
  height: 1.5em;
  background-color: lightgreen;
}

.name {
  display: flex;
  align-items: center;
}

.panel {
  padding: 1em;
  border-bottom: solid;
  border-width: thin;
  border-color: lightgray;
}

.date {
  font-weight: 600;
  font-size: revert;
}

.details {
  font-size: medium;
  padding-top: 1em;
}
